body{
    font-family: "Comfortaa", cursive;
    background-color: #272b30;
    height: 10px;
    width: 0px;
}
#allGamesPlace{
    display: none;
}
header {
    background-image: url(../imgs/wraper.png);
    height: 30vh;
    background-position: center center;
}
.nav-bg-color{
    background-color: #3a497b !important;
    border-radius: 1rem;
    z-index: 99099;

}
.whenHover:hover {
color: #09c !important;
transition-property: all;
transition-duration: 0.2s;
}
.card:hover .card-Img-When-Hover {
    opacity: 1 !important;
    transition-property: all;
    transition-duration: 1s;
   
}
.card:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 2s;
    z-index: 2;
}
.cards-bacground{
    background-color: #272b30;
    border: solid black 1px;
    color: #77797c;
    font-size: .875em;
   
}
.btn-for-platforms{
    color: #77797c;
    width: 2.3rem;
    height:1.8rem ;
    border: solid white 1px;
   
}
.active{
    color: #09c !important;
    transition: color 0.5s;
}

.texto{
    width: 3.5rem;
    height:1.8rem ;
    font-size: 0.8rem !important;
    color: white;
}

/* <!-- here is the details of each game --> */


.all-for-section{
    height: 100vh;
    background-color: #272729be;
}
.icon-curser{
    cursor: pointer;
}